* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(78, 18, 135);
}

ul {
    list-style: none;
}

.purple {
    color: rgb(113, 24, 195);
}

.primary {
    background-color: rgb(113, 24, 195);
    border-radius: 10px;
}

.primary a {
    color: whitesmoke;
    padding:1rem 1rem;
    
}

#main {
    background-color: #7342d61a;
}



/* NAVIGATION PANEL */

.row nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

#main .logo__img--wrapper img {
    width: 60px;
}

#main .nav__links {
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding: 1rem 0;
    text-transform: uppercase;
}


/* HEADER */

header {
    padding-top: 1rem;
    text-align: center;
}

header .row h1 {
    font-size: 50px;
}

header .row h4 {
    font-size: 25px;
}

header button {
    padding: 0.5rem 2rem;
    background-color: blueviolet;
    border: none;
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
}

header button:hover {
    background-color: rgb(109, 30, 182);
}

.main__img--wrapper img {
    margin-top: 0.5rem;
    width: 800px;
    height: 350px;
}


/* HIGHLIGHTS */

#highlights {
    text-align: center;
    padding-top: 2em;
}

#highlights .highlights {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 100%;
}

.highlight {
    margin-top: 1.5rem;
    width: calc(100%/3);
    margin: 0 0.5rem;
}

.highlight i {
    font-size: 45px;
    color: blueviolet;
    padding: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.highlight__heading h4 {
    font-size: 22px;
    margin: 0.5rem 0;
}

.highlight .highlight__para {
    font-size: 16px;
}


/* FEATURED COURSES */

#featured__courses {
    text-align: center;
    margin-bottom: 2rem;
}

#featured__courses .courses {
    margin-top: 2rem;
    display: flex;
    width: 100%;
}

.course {
    width: calc(100%/3);
    margin: 0 0.5rem;
    text-align: left;
    padding: 0 1rem;
}

.course img {
    border-radius: 10px;
}

.course img:hover {
    cursor: no-drop;
    transform: scaleX(1.05);
    transform: scaleY(1.05);
}

.course h4 {
    font-size: 16px;
    margin-bottom: 0.2rem 0;
}

.course__rating i {
    color: gold;
    margin-bottom: 0.5rem;
}

.course button {
    padding: 0.3rem 1rem;
    font-size: 12px;
    color: whitesmoke;
    background-color:blueviolet;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.not__available--btn {
    cursor: no-drop;
}

/* FOOTER */

footer {
    background-color: rgb(54, 48, 48);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: whitesmoke;
}

footer ul {
    display: flex;
    margin-bottom: 0.5rem;
}

footer ul li {
    margin: 0 1rem;
}