* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(78, 18, 135);
}

ul {
    list-style: none;
}

.purple {
    color: rgb(113, 24, 195);
}

.primary {
    background-color: rgb(113, 24, 195);
    border-radius: 10px;
}

.primary a {
    color: whitesmoke;
    padding:1rem 1rem;
    
}

#main {
    background-color: #7342d61a;
}



/* NAVIGATION PANEL */

.row nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

#main .logo__img--wrapper img {
    width: 60px;
}

#main .nav__links {
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding: 1rem 0;
    text-transform: uppercase;
}


/* HEADER */

header {
    padding-top: 1rem;
    text-align: center;
}

header .row h1 {
    font-size: 50px;
}

header .row h4 {
    font-size: 25px;
}