* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* WE WILL GO WITH SPECIFICITY */
#nav__section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

nav .nav__logo--wrapper img {
    width: 100px;
    height: 50px;
}

#nav__section ul {
    display: flex;
}

.nav__links li {
    list-style: none;
    margin-left: 40px;
}

.nav__links li a {
    text-decoration: none;
    color: blueviolet;
}


    /* MAIN SECTION */

header {
    height: 90vh;
}

header .row {
    margin-top: 1em;
    padding: 0 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.hero__image--wrapper  {
    background-image: linear-gradient(to bottom, red, yellow);
    width: 550px;
    height: 500px;
    border-radius: 50%;
}

.hero__image--wrapper img {
    width: 550px;
    margin-top: -30px;
}

header .left__home--section h1 {
    font-size: 50px;
    margin-bottom: 0.3em;
}

header .left__home--section h4 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 0.5em;
}

header .left__home--section p {
    font-size: 15px;
    margin-bottom: 2em;
}

header .left__home--section button {
    background-image: linear-gradient(to top, rgba(128, 0, 128, 0.875), rgba(0, 0, 0, 0.87));
    padding: 0.8em 3em;
    border-radius: 25px;
    border: none;
}

header .left__home--section button a {
    color: whitesmoke;
}


header .color__variations {
display: flex;
justify-content: right;
align-items: center;
padding: 0.5em 3em;
}

.color  {
    width: 20px;
    height: 20px;
    margin: 0.3em 2em 0 1em;
    border-radius: 50%;
    background-color: aqua;
}

/* COLORS */
.color1 {
    background-color: black;
}
.color2 {
    background-color:purple;
}
.color3 {
    background-color:brown;
}
.color4 {
    background-color:blue;
}



/* PRODUCTS SECTION */

#products {
    height: 100vh;
    text-align: center;
     background-color: rgb(238, 237, 237);
}
#products .products__container {
    display: flex;
    justify-content: space-evenly;
}

#products .product {
    margin: 0 2rem;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products h3 {
    padding-top: 1em;
}


.product hr {
width: 100px;
height: 2px;
background-color: blueviolet;
}

.product h5 {
    margin: 1em 0;
    font-size: 15px;
}

.product p {
    font-size: 13px;
    margin-bottom: 1em;
}

.product button {
    background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.863), rgba(0, 0, 0, 0.829));
    border:none;
    padding: 0.5em 2em;
    color: white;
    border-radius: 20px;
}